
/* Header */
.home__header{
    display: flex;
    height: 727px;
    position: relative;
}
.home__header-img,
.home__btn-img,
.home__heading-img-pic{
    width: 100%;
    object-fit:fill;
}
.home__heading{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    display: grid;
    grid-template-columns: 50% 50%;
}

.home__heading-info{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.home__heading-info h2{
    font-size: 6.8rem;
    line-height: 6.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: -0.3rem;
    color: var(--primary-color);
    margin: 0;
}
.home__heading-info span{
    font-size: 2.2rem;
    line-height: 2.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--primary-color);
    margin: 24px 0 32px;
}
.home__sub-heading{
    padding: 0 170px;
}
.home__heading-info p{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 4px;
    font-style: italic;
    font-weight: 300;
    color: #7C7C7C;
}

.home__heading-img{
    height: 100%;
    position: absolute;
    right: 250px;
    display: flex;
    flex-direction: column;
    margin: auto auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.home__btn{
    position: relative;
    padding: 0;
    display: flex;
    margin-top: 72px;
}
/* .home__btn:hover span{
    font-weight: 600;
} */
.home__btn span{
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6rem;
    font-weight: 500;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home__btn span i{
    font-size: 1.4rem;
    margin-left: 16px;
}

/* Category */
.home__category{
    display: flex;
    justify-content: space-around;
    margin: 48px 0 64px;
    padding: 0 96px;
}
.home__category-item{
    position: relative;
    min-width: 250px;
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--primary-color);
    border-radius: 30px;
}
.home__category-item::before{
    content: "";
    position: absolute;
    background-color: transparent;
    min-width: 250px;
    height: 8px;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
}
.home__category-name{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.3rem;
    color: var(--text-color);
}
.home__category-icon{
    font-size: 1.3rem;
    color: var(--text-color);
    cursor: pointer;
}
.home__category-item:hover .home__category-menu{
    display: block;
}
.home__category-menu{
    position: absolute;
    background-color:  var(--white-color);
    min-width: 250px;
    top: calc(100% + 4px);
    right: 0;
    list-style: none;
    padding-left: 0;
    z-index: 1;
    background: white;
    border-radius: 3px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    display: none;
}
.home__category-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.home__category-list-item{
    text-decoration: none;
    display: flex;
}
.home__category-list-item a{
    text-decoration: none;
    width: 100%;
    padding: 12px 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4rem;
    color: var(--text-color);
}
.home__category-list-item a:hover{
    color: var(--white-color);
    background-color: var(--primary-color);
}
/* Best Seller */

.product__header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.product__name{
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4.8rem;
    line-height: 4.8rem;
    font-weight: 500;
    color: var(--primary-color);
}
.product__name::before{
    position: absolute;
    content: "";
    top: 50%;
    left: -380px;
    bottom: 0;
    width: 300px;
    height: 1px;
    background-color: var(--primary-color);
}
.product__name::after{
    position: absolute;
    content: "";
    top: 50%;
    right: -380px;
    bottom: 0;
    width: 300px;
    height: 1px;
    background-color: var(--primary-color);
}
.product__detail{
    display: grid;
    grid-template-columns: 12.5% 25% 25% 25% 12.5%;
    /* background-color: #E6ECE9; */
    align-items: center;
    padding:24px 48px;
}
.product__arrow{
    display: flex;
    align-items: center;
    justify-content: center;
}
.product__arrow i{ 
    font-size: 2.8rem;
    cursor: pointer;
}
.product__icon-arrow-left{
    color: #7B9F8E ;
}
.product__icon-arrow-right{
    color: var(--primary-color);
}
.product__item{
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 32px;
}
.product__item.close{
    display: none;
}
.products-container-item__pic{
    position: relative;
    width: 100%;
    cursor: pointer;
}
.products-container-item-img{
    width: 100%;
    border-radius: 10px;
}
.products-container-item-heart{
    position: absolute;
    top: 16px;
    left: 16px;
}
.products-container-item__info{
    padding: 0 8px;
}
.product-name-box{
    height: 48px;
    margin: 16px 0 8px 0;
}
.product-name{
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    margin: 16px 0;
    color: var(--text-color);
    cursor: pointer;
    margin: 0;
    line-height: 2.4rem;
}
.product-review{
    margin-top: 24px;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}
.product-review-img{
    width: 100px;
    margin-top: -4px;
    margin-right: 24px;
}
.product-review-number{
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 0;
}
.product-price{
    font-size: 2rem;
    font-weight: 500;
    margin: 18px 0 24px;
    text-align: center;
    color: var(--sub-text-color);
}

/* Sub slide */
.sub__slide{
    margin-top: 48px;
    height: 612px;
}
.sub__slide-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* About */

.about__info-heading{
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    line-height: 3.4rem;
    font-weight: 500;
    color: var(--primary-color);
    padding: 0 130px;
    margin: 0;
    text-align: center;
}
.about__info-detail{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 300;
    color: #898989;
    padding: 0 170px;
    text-align: center;
    margin-bottom: 32px;
}
.about__info-detail.close{
    display: none;
}
.view-detail{
    text-align: center;
}
.view-detail__btn{
    cursor: pointer;
    min-width: 250px;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6rem;
    border: 1px solid var(--primary-color);
    transition-duration: .4s;
    background-color: var(--white-color);
}
.view-detail__btn i{
    margin-left: 8px;
    font-size: 1.4rem;
}
.view-detail__btn:hover{
    color: var(--white-color);
    background-color: var(--primary-color);
}
/* Contact Us */

.contact__detail{
    display: grid;
    grid-template-columns: 12.5% 25% 25% 25% 12.5%;
}
.contcat__info{
    display: flex;
    flex-direction: column;
}
.contcat__info-item{
    display: flex;
    align-items: center;
    justify-items: center;
}
.contcat__info-item + .contcat__info-item{
    margin-top: 16px;
}
.contcat__info-item i{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: var(--primary-color);
    margin-right: 8px;
}
.contcat__info-item span{
    font-size: 1.6rem;
    color: var(--text-color);
}
.contact__register{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.contact__register h4{
    font-size: 2.4rem;
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    line-height: 2.4rem;
    color: var(--primary-color);
    margin: 0 0 24px;
}
.contact__register input{
    font-size: 1.4rem;
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.4rem;
    color: var(--text-color);
    padding: 8px 16px;
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    outline: none;
}
.contact__register-btn{
    min-width: 250px;
    margin-top: 24px;
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4rem;
    border: 1px solid var(--primary-color);
    transition-duration: .4s;
    background-color:  var(--primary-color);
}
.contact__register-btn:hover{
    color: var(--primary-color);
    background-color: var(--white-color);
    cursor: pointer;
}

/* Purchase */
.purchase{
    margin-bottom: 60px;
}
.purchase__detail{
    display: grid;
    grid-template-columns: 10% 20% 20% 20% 20% 10%;
}
.purchase__detail-item{
    text-align: center;
    padding: 0 32px;
}
.purchase__detail-item h4{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 500;
    color: #7C7C7C;
}
.purchase__detail-item div{
    height: 130px;
}
.purchase__detail-item p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 2.8rem;
    font-weight: 300;
    color: #898989;
}
.purchase__detail-item span{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;

}
