html{
    font-size: 62.5%;
    line-height: 2rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
:root{
    --white-color: #ffffff;
    --black-color: #000000;
    --primary-color: #336d51;
    --category-color: #E6ECE9;
    --line-color: rgba(51, 109, 81, 0.2);
    --sub-text-color: #acacac;
    --text-color: #212B36;
}
.btn{
    min-width: 120px;
    border-radius: 20px;
    padding: 12px 16px;
    color: var(--white-color);
    background-color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
}
.btn_buy-now{
    width: 100%;
    margin-top: 24px;
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6rem;
    border: 1px solid var(--primary-color);
    transition-duration: .4s;
}
.btn_buy-now:hover{
    color: var(--primary-color);
    background-color: var(--white-color);
    cursor: pointer;
}
.products-container-item{
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    transition: transform linear 0.1s;
    will-change: transform;
}
.products-container-item:hover{
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-1px);
}



#layout-grid-left-detail-product{
    display: grid;
    grid-template-columns: 15% 85%;
}
.item-left-img-product {
    width: 70%;
    height: 70%;
    margin: 0 10px 10px 0;
}


#item-show-img-product {
    width: 90%;
    height: 40vmax;
}


/* grid right */

.dp-titleProduct {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 3.6rem;
    font-weight: 700;
    margin: 0 0 0 0;
}
.product-info-detail{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #7C7C7C;
    line-height: 2.6rem;
}

.prodcut-type-detail{
    display: flex;
    padding: 16px 0;
    border-bottom: 1px solid #336D51;
    margin-bottom: 24px;
}
.prodcut-type-item{
    display: flex;
    align-items: center;
}
.prodcut-type-item + .prodcut-type-item{
    margin-left: 16px;
}
.prodcut-type-item span{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #616161;
    margin-left: 8px;
}

.dp-price {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 0 0;
}

/* .dp-star-reviews div {
    float: left;
} */

.dp-star-reviews {
    margin: 16px 0 24px;
    display: flex;
    align-items: center;
}
.dp-star-reviews span{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-left: 16px;
}

.dp-star-reviews p {
    margin-top: 0;
    margin-left: 10px;
    margin-bottom: 0;
    position: relative;
    top: 10%;
    font-size: 1.5vmax;
}

.dp-numberProduct button {
    background-color: #336D51;
    border: 1px transparent solid;
    color: white;
    width: 30px;
    height: 30px;
    margin: 15px;
    cursor: pointer;
}
.dp-numberProduct button i{
    font-size: 8px;
}

.dp-numberProduct p:nth-child(1) {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
}
#number-product {
    font-weight: 600;
}

/* #dp-btn-product button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: #336D51 solid 1px;
    border-radius: 20px;
} */

#dp-btn-product button{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    transition-duration: .4s;
    border-radius: 30px;
    padding: 12px 16px;
    border: 1px solid #336D51;
    cursor: pointer;
}

#dp-addtocart {
    margin: 24px 0 16px;
    color: white;
    background-color: #336D51;
}

#dp-buynow {
    color: #336D51;
    background-color: #fff;
}

/*relatedProducts  */

/* .dp-table-relatedProducts table {
    width: 100%;
    text-align: center;
}

.dp-table-relatedProducts td:nth-child(2) {
    color: #336D51;
    font-size: 3vmax;
}

.dp-table-relatedProducts hr {
    width: 20vw;
    text-align: right;
    justify-content: right;
    border: #336D51 0.5px solid;
}

.dp-img-products .img {
    width: 100%;
    height: 30vmax;
}

.dp-img-products {
    position: sticky;
}

.dp-img-products .favor {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 3vmax;
}

.dp-container-slide-relatedProducts {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    margin: 10px 30px 10px 30px;
    text-align: center;
} */

/* css 1 cục sản phẩm ( hình, tên, sao, reviews, button buy now) */

/* .dp-container-products {
    padding: 10px;
}

.dp-grid-slide-relatedProducts {
    display: grid;
    grid-template-columns: 33.33% 33.34% 33.33%;
    margin: 0 auto;
}

.db-btn-slide-relatedProducts {
    position: relative;
}

.db-btn-slide-relatedProducts.left {
    position: absolute;
    top: 50%;
    left: 50%;
}

.db-btn-slide-relatedProducts.right {
    position: absolute;
    top: 50%;
    right: 50%;
} */

/* name */

/* .dp-container-info-product-name {
    margin: 0 10px 5px 10px;
    font-size: 1.3vmax;
} */

/* reviews */

/* .dp-container-info-product-reviews {
    color: black;
    margin: 0;
    font-size: 1.3vmax;
} */

/* price */

/* .dp-container-info-product-price {
    color: #787878;
    font-weight: bold;
    margin: 0;
    font-size: 1.3vmax;
} */

/* button buy now */

.dp-button-buynow-containerProducs {
    width: 100%;
    background-color: #336D51;
    color: white;
    border: #336D51 1px solid;
    border-radius: 20px;
    margin-top: 5px;
    padding: 5px 0 5px 0;
}

.dp-button-buynow-containerProducs:hover {
    background-color: white;
    color: #336D51;
}

/* dp-grid-detailProducts */

#dp-grid-detailProducts {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
    margin: 32px 0 24px;
}

.dp-grid-detailProducts-item.open p{
    font-size: 20px;
    font-weight: 600;
    color: #336D51;
}
.dp-grid-detailProducts-item p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.div-img-information-detail-product, .information-detail-product {
    display: none;
}

.dp-info{
    display: grid;
    grid-template-columns: 7% 86% 7%;
}
#dp-info-detailProduct {
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0,0, 0.05);
    border-radius: 5px;
}
.dp-morethan-detailProduct pre,
#dp-info-detailProduct p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #7C7C7C;
}
#dp-info-detailProduct pre {
    padding: 10px 30px 10px 30px;
}

.dp-morethan-detailProduct pre {
    display: none;
}

.dp-morethan-detailProduct a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: right;
    padding: 16px 16px;
    text-decoration: none;
    color: black;
    /* display: none; */
}

.dp-morethan-detailProduct a:hover {
    color: #336D51;
}

/* reviews comment */

.dp-container-number-of-comment-1star {
    display: grid;
    grid-template-columns: 20% 80%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dp-category-comment-1star {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dp-category-comment-1star p {
    float: left;
    margin: 0;
}

.dp-number-reviews-1star {
    position: relative;
    display: flex;
    margin: 2px 0;
}

.dp-number-reviews-1star.total-border {
    width: 100%;
    color: white;
    background-color: #D9D9D9;
    border-radius: 10px;
}

.dp-number-reviews-1star.border-star {
    color: #336D51;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    background-color: #336D51;
    margin: 2px 0;
}

.dp-number-reviews-1star.border-star.star5 {
    width: 80%;
}

.dp-number-reviews-1star.border-star.star4 {
    width: 60%;
}

.dp-number-reviews-1star.border-star.star3 {
    width: 80%;
}

.dp-number-reviews-1star.border-star.star2 {
    width: 40%;
}

.dp-number-reviews-1star.border-star.star1 {
    width: 20%;
}

/* comment */

.dp-container-comments{
    margin-top: 48px;
}
.dp-container-comments:nth-child(3)
{
    display: none;
}
.dp-container-comments.container {
    display: grid;
    grid-template-columns: 10% 90%;
    margin: 24px 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #336d51;
}

.dp-comment-img {
    text-align: right;
    margin-right: 5px;
}

.dp-comment-img img {
    width: 70%;
    border-radius: 50%;
}

.dp-comment-info{
    margin-left: 16px;
}
.dp-comment-info p{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.dp-comment-info.name-client {
    font-size: 1.8rem;
    font-weight: 600;
}
.dp-comment-info.reviews{
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 24px;
}
.dp-comment-info.comment{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: #898989;
    margin-top: 12px;

}



/* number page */

#container-number-page {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
    margin: 20px;
}
.number-page-icon{
    margin: 0 24px;
    cursor: pointer;
}

.icon-arrow-number-page {
    width: 10px;
    border: 1px solid black;
    padding: 2px;
    cursor: pointer;
}

.item-number-page {
    cursor: pointer;
    margin: 0 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    color: #898989;
}

.item-number-page.active {
    color: black;
}
.add-comment{
    display: grid;
    grid-template-columns: 20% 60%  20%;
    margin-bottom: 60px;
}
.new-comment{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.new-comment h3{
    font-family: 'Roboto', sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
    color: #336d51;
    text-align: center;
}
.new-comment span{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 16px 0 8px;
}
.new-comment input{
    width: 100%;
    padding: 8px 16px;
    border:  1px solid #336d51;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;  
    font-size: 1.4rem;
    outline: none;
    margin: 8px 0;
}
.new-cmt-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.new-comment button{
    width: 30%;
    outline: none;
} 
.dp-container-comments:nth-child(3).open{
    display: block;
}



/* rating bar */
.dp-category-comment-1star-number{
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    color: #898989;
    margin-right: 3px;
}
.dp-container-cmt{
    display: grid;
    grid-template-columns: 12% 76% 12%;
    margin-bottom: 48px;
}
.dp-container-ratingbar {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 24px 100px;
    position: relative;
    background-color: #F9FBFA;
    border-radius: 5px;
    padding: 16px;
}
.dp-container-ratingbar::before{
    content: "";
    position: absolute;
    height: 80%;
    width: 1px;
    top: 10%;
    left: 30%;
    right: 0;
    bottom: 0;
    background-color: #336d51;
}
.ratingbar{
    margin-right: 28px;
}
.ratingbar-detail{
    margin-left: 28px;
}
.icon-star{
    transform: scale(0.8);
}
.dp-container-ratingbar .icon-star + .icon-star{
    margin-left: 4px;
}

/* product */
.product__header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.product__name{
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4.8rem;
    line-height: 4.8rem;
    font-weight: 500;
    color: var(--primary-color);
}
.product__name::before{
    position: absolute;
    content: "";
    top: 50%;
    left: -380px;
    bottom: 0;
    width: 300px;
    height: 1px;
    background-color: var(--primary-color);
}
.product__name::after{
    position: absolute;
    content: "";
    top: 50%;
    right: -380px;
    bottom: 0;
    width: 300px;
    height: 1px;
    background-color: var(--primary-color);
}
.product__detail{
    display: grid;
    grid-template-columns: 12.5% 25% 25% 25% 12.5%;
    /* background-color: #E6ECE9; */
    align-items: center;
    padding:24px 48px;
}
.product__arrow{
    display: flex;
    align-items: center;
    justify-content: center;
}
.product__arrow i{ 
    font-size: 2.8rem;
    cursor: pointer;
}
.product__icon-arrow-left{
    color: #7B9F8E ;
}
.product__icon-arrow-right{
    color: var(--primary-color);
}
.product__item{
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 32px;
}
.product__item.close{
    display: none;
}
.products-container-item__pic{
    position: relative;
    width: 100%;
    cursor: pointer;
}
.products-container-item-img{
    width: 100%;
    border-radius: 10px;
}
.products-container-item-heart{
    position: absolute;
    top: 16px;
    left: 16px;
}
.products-container-item__info{
    padding: 0 8px;
}
.product-name-box{
    height: 48px;
    margin: 16px 0 8px 0;
}
.product-name{
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    margin: 16px 0;
    color: var(--text-color);
    cursor: pointer;
    margin: 0;
    line-height: 2.4rem;
}
.product-review{
    margin-top: 24px;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}
.product-review-img{
    width: 100px;
    margin-top: -4px;
    margin-right: 24px;
}
.product-review-number{
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 0;
}
.product-price{
    font-size: 2rem;
    font-weight: 500;
    margin: 18px 0 24px;
    text-align: center;
    color: var(--sub-text-color);
}
