/* underline from left to right */

.expand {
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.expand:after {
    display: block;
    content: '';
    border-bottom: solid 3px #336D51;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 100% 50%
}

.expand:hover:after {
    transform: scaleX(1);
    transform-origin: 0 50%;
}
.expand.active.container-page-url{    
    border-bottom: solid 1.5px #336D51;

}