h1 {
    color: red;
}

.logo_header img {
    height: 50px;
    width: 50px;
}

.icon {
    float: right;
    padding: 5px;
}

.title {
    float: left;
    padding: 5px;
    text-decoration: none;
    color: black;
}

.title:hover {
    color: #024137;
}

table {
    width: 100%;
}

.notification-header {
    background-color: #024137;
    padding: 3px;
}

.notification-header p {
    display: inline;
    border: 1px solid;
    color: #024137;
    background-color: white;
    padding: 2px;
}

.notification-header b {
    display: inline;
    color: white
}