<footer id="footer">
    <div class="footer-table">
        <div>
            <ul>
                <li>MY ACCOUNT</li>
                <li>
                    Sign in
                </li>
                <li>
                    Register
                </li>
                <li>
                    Order status
                </li>
            </ul>
        </div>  
        <div>
            <ul>
                <li>HELP</li>
                <li>
                   Shipping
                </li>
                <li>
                    Returns
                </li>
                <li>
                    Sizing
                </li>
            </ul>
        </div>
        <div>
            <ul>
                <li>About</li>
                <li>
                    Our story
                </li>
                <li>
                    Media        
                </li>
                <li>
                    Sustainabilip>
                </li>
            </ul>
        </div>
        <div>
            <ul>
                <li>LEGAL STUFF</li>
                <li>
                    Terms of use
                </li>
                <li>
                    Terms of sal
                </li>
                <li>
                    Privacy polip
                </li>
            </ul>
        </div>
        <div id="footer-followus">
            <ul>
                <li>
                    FOLLOW US
                </li>
                <li class="footer-icon">
                    <i class="fab fa-facebook-square"></i>
                </li>
                <li class="footer-icon">
                    <i class="fab fa-instagram-square"></i>
                </li>
                <li class="footer-icon">
                    <i class="fab fa-twitter-square"></i>
                </li>
                <li class="footer-icon">
                    <i class="fab fa-youtube-square"></i>
                </li>
            </ul>
        </div>
    </div>
    <div style="text-align: center; margin-top: 24px;">
        <img src="./img/appdowload.png" alt="" id="img-footer">
    </div>
    <div>
        <p style="color: #B4C2BB; font-size: 12px">© 123 KeemBeauty Inc. All Rights Reserved</p>
    </div>
    <div id="footer-ending">
        <hr><br>
        <div style="display: grid;grid-template-columns: 60% 40%;">
            <div>
                <div>
                    <h4 style="float: left;">Working time: </h4>
                    <p>Mon - Fri 09:00 ~ 17:00 (except Saturday, Sunday and public holidays)</p>
                </div>
                <div>
                    <h4 style="float: left;">Consulting and customer care: </h4>
                    <p>028 3827 9777 (Ext: 125)</p>
                </div>
                <div>
                    <h4 style="float: left;">Email: </h4>
                    <p>keemsbeauty@gmail.com</p>
                </div>
            </div>
            <div>
                <img style="width: 250px;float: right;" src="./img/icon-footer1.png" alt="">
            </div>
        </div>
        <br><br><br>
        <div>
            <div>
                <h4 style="float: left;">Business registration certificate: </h4>
                <p>0309984165 - Date of issue: 05/05/2010, amended for the 18th
                time, on 22/01/2020.
                </p>
            </div>
            <p>
                 <h4 style="float: left;">Issuing agency:</h4>
                <p> Business Registration Office - Ho Chi Minh City Department of Planning and
                Investment </p>
            </p>
            <p>
                <h4 style="float: left;">Business registration address: </h4>
                <p>4A Floor, Vincom Building, 72 Le Thanh Ton, Ben Nghe Ward, District
                1, City. Ho Chi Minh, Vietnam.</p>
            </p>
        </div>
    </div>
</footer>

<script>
    if(window.location.pathname =="/account" || window.location.pathname == "/confirm" || window.location.pathname == "/signIn"){
        document.getElementById("footer").style.display = "none";
        
    }
    else{
        document.getElementById("footer").style.display = "block";
    }
</script>