<div  class="foot-container">
    <div style="margin-left: 10px;">
        <img style="height: 38px;width:200px;margin-bottom:7px"
         src="https://www.innisfree.vn/static/front/vn/web/images/common/logo_foot.png" alt="">
        <div class="f_sns">
            <a href="https://innisfreevietnam.co/2Ab0EGA" class="facebook">
                <img src="https://www.innisfree.vn/static/front/vn/web/images/common/foot_zalo.png" alt="">
            </a>
            <a href="https://www.instagram.com/innisfreevietnam/?hl=vi" target="_blank" class="instagram"
                ap-click-area="FOOTER" ap-click-name="SNS" ap-click-data="SNS_instagram">
                <img src="https://www.innisfree.vn/static/front/vn/web/images/common/foot_zalo.png" alt="">
            </a>
            <a href="https://innisfreevietnam.co/3eBPmud" class="youtube">
                <img src="https://www.innisfree.vn/static/front/vn/web/images/common/foot_zalo.png" alt="">
            </a>
            <a href="https://innisfreevietnam.co/3awmEtB" class="zalo">
                <img src="https://www.innisfree.vn/static/front/vn/web/images/common/foot_zalo.png" alt="">
            </a>
        </div>
    </div>
    <div  class="foot-menu">
        <table>
            <tr>
                <th>SẢN PHẨM</th>
                <th>MY INNISFREE</th>
                <th>VỀ INNISFREE</th>
                <th>TRUNG TÂM KHÁCH HÀNG</th>
            </tr>
            <tr>
                <td>SẢN PHẨM BÁN CHẠY</td>
                <td>INNISFREE</td>
                <td>Câu chuyên thương hiệu</td>
                <td>Mua hàng và ưu đãi thành viên</td>
            </tr>
            <tr>
                <td>SẢN PHẨM MỚI</td>
                <td>Đánh giá sản phẩm</td>
                <td>Quá trình phát triển</td>
                <td>Hỗ trợ 1:1</td>
            </tr>
            <tr>
                <td>ĐỘC QUYỀN ONLINE</td>
                <td>Đăng kí nhận mẫu thử</td>
                <td>Câu chuyện thành phần</td>
                <td>Hệ thống cửa hàng</td>
            </tr>
            <tr>
                <td>Sản phẩn ưu đãi</td>
                <td>Câu hỏi thường gặp</td>
                <td></td>
                <td>Thông báo</td>
            </tr>
            <tr>
                <td>Dòng sản phẩm</td>
                <td>Chiến dịch Green Forest</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dưỡng da</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Trang điểm</td>
                <th>Sự kiện</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Nước hoa</td>
                <td>Ưu đãi hiện tại</td>
                <th>THÀNH VIÊN</th>
                <th>TUYỂN DỤNG</th>
            </tr>
             <tr>
                <td>Tóc và cơ thể</td>
                <td>Ưu đãi kết thúc</td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>