    <div class="container">
        <div class="table-responsive">
            <table>
                <tr>
                    <th>
                        <a class="title" href="">Sản phẩm</a>
                        <a class="title" href="">Sự kiện</a>
                        <a class="title" href="">Thành viên</a>
                    </th>
                    <th colspan="3">
                        <a href="">
                            <img src="https://www.innisfree.vn/static/front/vn/web/images/common/logo.svg" alt="" style="height: 90px;width: 170px;">
                        </a>
                    </th>
                    <th>
                        <a class="icon" href="">
                            <img style="width: 50px" src="https://www.innisfree.vn/static/front/vn/web/images/common/ico_search.svg" alt="">
                        </a>
                        <a class="icon" href="">
                            <img style="width: 50px" src="https://www.innisfree.vn/static/front/vn/web/images/common/ico_findstore.svg" alt="">
                        </a>
                        <a class="icon" href="">
                            <img style="width: 50px" src="https://www.innisfree.vn/static/front/vn/web/images/common/ico_mypage.svg" alt="">
                        </a>
                        <a class="icon" href="">
                            <img style="width: 50px" src="https://www.innisfree.vn/static/front/vn/web/images/common/ico_cart.svg" alt="">
                        </a>
                    </th>
                </tr>
            </table>
        </div>
    </div>
    <div class="notification-header">
        <p >Thông báo</p>
        <b>Trước tình hình giãn cách toàn thành phố HCM</b>
    </div>
