<script type="module" src="/js/header.js"></script>
<link rel="stylesheet" href="/css/header.css">
<div class="header">
    <div class="header-top">
        <div class="grid-header">
            <div>
                <p id="notify-header">[Deal] Free $10 gift when buying combo of innisfree product</p>
            </div>
            <div class="header-info not-login">
                <a href="/signIn" class="header-info-item account" style="margin-top: 10px;font-size:12px;color:white">Sign in/ Sign up</a>
            </div>
            <div class="header-info login">
                <div class="header-info-account">
                    <img class="header-info-item" src="./img/avatar.png" alt="" id="avatar-user">
                    <b class="header-info-item account">Hieu Nguyen</b>
                    <nav class="header-info-nav">
                        <ul class="header-info-list">
                            <li class="header-info-list-item">
                                <h3>My account</h3>
                            </li>    
                            <li class="header-info-list-item">
                                <a class="header-info-link" href="/account">
                                    <i class="fas fa-user"></i>
                                    Profile
                                </a>
                            </li>
                             <li class="header-info-list-item">
                                <a class="header-info-link" href="myorder">
                                    <i class="fas fa-file-invoice"></i>
                                    Order
                                </a>
                            </li>
                            {{!-- <li class="header-info-list-item">
                                <a class="header-info-link" href="">
                                    <i class="fas fa-heart"></i>
                                    Favorite
                                </a>
                            </li>    --}}
                            <li class="header-info-list-item">
                                <a class="header-info-link" href="/signIn">
                                    <i class="fas fa-sign-out-alt"></i>
                                    Sign out
                                </a>
                            </li>            
                        </ul>
                    </nav>
                </div>
                <div class="header-info-order">
                    <i class="fas fa-truck header-info-item header-icon" ></i>
                    <p class="header-info-item order">Check your order</p>
                </div>
            </div>
        </div>
    </div>

    <div class="header-menu">
        <div class="header-menu-left">
            <!-- responsive bar menu left -->
            <div style="width: 30px; color: #336D51;">
                <label for="header-checkbox-mobile" id="header-bars">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                        class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512">
                        <path fill="currentColor"
                            d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z">
                        </path>
                    </svg>
                </label>
                <input type="checkbox" name="" hidden id="header-checkbox-mobile">
                <label for="header-checkbox-mobile" id="header-overlay"></label>
                <label id="header-menu-bars">
                    <div style="margin-top: 10px;">
                        <div style="float: left; margin-right: 5px;margin-left: 10px;">
                            <img style="width: 25px;height: 25px;" src="./img/avatar.png" alt="" id="avatar-user">
                        </div>
                        <div>
                            <b style="color: rgb(255, 255, 255);">Hieu Nguyen</b>
                            <p style="color: rgb(235, 220, 220);font-size: 10px;margin: 0;">bibi030301@gmail.com</p>
                        </div>
                    </div>
                    <ul>
                        <li>
                            <a href="">All</a>
                        </li>
                        <li>
                            <a href="">Best Seller</a>
                        </li>
                        <li>
                            <a href="">New</a>
                        </li>
                        <input type="checkbox" name="" hidden id="checkbox-dropdown-itemFace">
                        <li>
                            <a href="">Face</a>
                            <label for="checkbox-dropdown-itemFace">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down"
                                    class="svg-inline--fa fa-chevron-down fa-w-14" role="img"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path fill="currentColor"
                                        d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z">
                                    </path>
                                </svg>
                            </label>
                        </li>
                        <!-- item drop menu -->
                        <li class="header-dropdown-mobile-item face">
                            <a href="">Serum</a>
                        </li>
                        <li class="header-dropdown-mobile-item face">
                            <a href="">Cleaner</a>
                        </li>
                        <li class="header-dropdown-mobile-item face">
                            <a href="">Moisture Cream</a>
                        </li>
                        <li class="header-dropdown-mobile-item face">
                            <a href="">Face Oil</a>
                        </li>
                        <li class="header-dropdown-mobile-item face">
                            <a href="">Exfoliating Cream </a>
                        </li>
                        <!-- end drop menu -->
                        <input type="checkbox" name="" hidden id="checkbox-dropdown-itemBody">
                        <li>
                            <a href="">Body</a>
                            <label for="checkbox-dropdown-itemBody">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down"
                                    class="svg-inline--fa fa-chevron-down fa-w-14" role="img"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path fill="currentColor"
                                        d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z">
                                    </path>
                                </svg>
                            </label>
                        </li>
                        <!-- item drop menu -->
                        <li class="header-dropdown-mobile-item body">
                            <a href="">Body Scrub</a>
                        </li>
                        <li class="header-dropdown-mobile-item body">
                            <a href="">Body Oil</a>
                        </li>
                        <li class="header-dropdown-mobile-item body">
                            <a href="">Body Polish</a>
                        </li>
                        <li class="header-dropdown-mobile-item body">
                            <a href="">Soaking Salts</a>
                        </li>
                        <li class="header-dropdown-mobile-item body">
                            <a href="">Cleansing Bar Soap</a>
                        </li>
                        <!-- end drop menu -->
                        <li>
                            <a href="">Tools</a>
                        </li>
                    </ul>
                    <hr>
                    <div style="color: white;font-size: 13px;">
                        <p>
                            Working time: Mon - Fri 09:00 ~ 17:00 (except Saturday, Sunday and public holidays)
                        </p>
                        <p>
                            Consulting and customer care 1800 6324 - 0938.664.657(SPA)
                        </p>
                        <p>
                            Email: keemsbeauty@gmail.com
                        </p>
                        <p>
                            Business registration address: 4A Floor, Vincom Building, 72 Le Thanh Ton, Ben Nghe
                            Ward,
                            District 1, City. Ho Chi Minh, Vietnam.
                        </p>
                    </div>
                </label>
            </div>
            <!-- end responsive -->
            <ul id="header-menu">
                <li class="header-nav-menu">
                    <img src="img/logo_text.png" alt="" style="width: 100px;">
                </li>
                <li class="header-nav-menu">
                    <a href="/" class="expand container-page-url">Home</a>
                </li>
                <li class="header-nav-menu">
                    <a href="/products" class="expand container-page-url">Products</a>
                </li>
                <li class="header-nav-menu">
                    <a href="/purchase" class="expand container-page-url">Purchase</a>
                </li>
                <li class="header-nav-menu">
                    <a href="/aboutUs" class="expand container-page-url">About us</a>
                </li>
            </ul>
        </div>
        <div class="header-menu-right">
            <div id="cart-shopping">
                <img src="./img/icon-shoppingbar.png" alt="" class="header-menu-right-icon" onclick="clickCart()">
                <div id="container-overlay-cart">
                    <p id="header-overlay-cart">Your shopping cart</p>
                    <!-- empty -->
                    <div id="overlay-cart-empty">
                        <img src="img/cartemptry.png" alt="" id="img-cart-overlay-empty">
                    </div>
                    <!-- not empty -->
                    <div id="overlay-cart">
                        <div class="container-item-cart">
                            <!-- item here -->
                            <div class="overlay-item-cart">
                                <div class="item-overlay-cart">
                                    <div class="item-overlay-cart-left">
                                        <img src="img/imgdemo1.png" alt="" class="img-overlay-cart">
                                    </div>
                                    <div class="item-overlay-cart-right">
                                        <div class="grid-name-product-overlay-cart">
                                            <div>
                                                <p class="name-product-overlay-cart">Bakuchiol Retinol1
                                                    AlternativeSmoothing Serum</p>
                                            </div>
                                            <div style="text-align: right;">
                                                <p class="number-product-overlay-cart">x1</p>
                                            </div>
                                        </div>
                                        <p class="size-product-overlay-cart">Size: 30ml</p>
                                        <div class="grid-name-product-overlay-cart">
                                            <div>
                                                <p class="price-product-overlay-cart">$50.00</p>
                                            </div>
                                            <div style="text-align: right;">
                                                <img src="img/icon-bin.png" alt=""
                                                    class="icon-delete-product-overlay-cart">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="hr-overlay-cart">
                        </div>
                        <a id="button-overlay-cart" href="/myorder"> VIEW CART → </a>
                    </div>
                </div>
            </div>
            <img src="./img/icon-search.png" alt="" class="header-menu-right-icon">
        </div>
    </div>
</div>


<script>
    if(window.location.pathname == "/signIn"){
        $('.header').css('display','none')
    }
    else{
        $('.header').css('display','block')
    }
    if(localStorage.getItem('data-login') == null){
        $('.header-info.login').css('display','none')
        $('.header-info.not-login').css('display','block')
    }
    else{
        $('.header-info.login').css('display','flex')
        $('.header-info.not-login').css('display','none')
    }
</script>