<div style="width:100%; color:black; " class="container-header">
      <div class="item1">
        <a href="">Sản phẩm</a>
        <a href="">Sự kiện</a>
        <a href="">Thành viên</a>
      </div>
      <div class="item2">
        <a href="">
          <img src="https://www.innisfree.vn/static/front/vn/web/images/common/logo.svg" alt=""
            style="height: 90px;width: 170px;">
        </a>
      </div>
      <div class="container-logo-header">
        <a class="icon-logo" href="">
            <img style="width: 50px" src="https://www.innisfree.vn/static/front/vn/web/images/common/ico_search.svg" alt="">
        </a>
        <a class="icon-logo" href="">
            <img style="width: 50px" src="https://www.innisfree.vn/static/front/vn/web/images/common/ico_findstore.svg" alt="">
        </a>
        <a class="icon-logo" href="">
            <img style="width: 50px" src="https://www.innisfree.vn/static/front/vn/web/images/common/ico_mypage.svg" alt="">
        </a>
        <a class="icon-logo" href="">
            <img style="width: 50px" src="https://www.innisfree.vn/static/front/vn/web/images/common/ico_cart.svg" alt="">
        </a>
      </div>
    </div>