/* My account */
.purchase-header{
  width: 100%;
}
.purchase__heading{
  font-size: 3.4rem;
  line-height: 3.4rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 48px 0 16px;
  text-align: center;
  color: var(--primary-color);
}
/* Purchase menu */

.purchase-menu__list{
    list-style: none;
    padding: 12px 0;
    margin: 0;
}
.purchase-menu__link{
    text-decoration: none;
}
.purchase-menu__item{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.8rem;
    padding: 16px 0;
    color: var(--primary-color);
    border-bottom: 1px solid var(--line-color);
}
.purchase-menu__item:hover{
    font-weight: 400;
}
.purchase-menu__icon{
    width: 30px;
    float: right;
    font-size: 1.6rem;
    color: var(--primary-color);
}
.purchase-info__heading{
  margin: 0;
  font-size: 2.4rem;
  line-height: 2.4rem;
  color: var(--bl);
}
.section01{
  margin-top: 24px;
  padding-bottom: 48px;
  border-bottom: 1px solid var(--line-color);
}
.section03,
.section02{
  padding: 32px 0 48px;
  border-bottom: 1px solid var(--line-color);
}
/* .orderStatus{
  display: flex;
  align-items: center;
} */
table{
  width: 100%;
  margin-top: 32px;
  border-collapse: collapse;
  text-align: center;
  border: 1px solid var(--primary-color);
}
th{
  font-size: 1.4em;
  line-height: 1.4rem;
  font-weight: 400;
  padding: 12px 0;
  color: var(--white-color);
  background-color: var(--primary-color);
}
td{
  font-size: 1.3em;
  font-weight: 400;
  padding: 16px 0;
  color: var(--text-color);
  border: 1px solid var(--line-color);
  background-color: var(--white-color);
}
.section02__header{
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
}
.orderStatus{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 0 28px 0 0;
  color: var(--text-color);
  position: relative;
}
.orderStatus span{
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin-right: 16px;
}
.orderStatus i{
  font-size: 1.2rem;
}
.products-container{
  margin-top: 30px;
}



.mypageCateArea .lnbTop a {
  display: block;
  border-bottom: 1px solid #ccc;
  padding: 16px;
  text-decoration: none;
}
.mypageCateArea .lnbTop a.on {
  border-bottom: 2px solid #024137;
  font-family: 'noto md';
  color: #024137;
}
#_cate_main{
  background: url(../img/User.jpg) no-repeat;
  background-position: center right;
  background-size:18px auto;
}
#_cate_order{
  background: url(../img/Delivery.jpg) no-repeat;
  background-position: center right;
  background-size:18px auto;
}
#_cate_favorite{
  background: url(../img/Favorite.jpg) no-repeat;
  background-position: center right;
  background-size:18px auto;
}
#_cate_sign_out{
  background: url(../img/Sign\ out.jpg) no-repeat;
  background-position: center right;
  background-size:18px auto;
}
  /* Section 02 */
  /* Section 02 */
  /* Section 03 */
.product-name-box h4{
    font-family: 'Roboto', sans-serif;
}
.products-container-row{
  display: grid;
  grid-template-columns: auto auto auto;
}
.products-container-item{
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  transition: transform linear 0.1s;
  will-change: transform;
}
.products-container-item:hover{
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  transform: translateY(-1px);
}
.products-container-item__pic{
  position: relative;
  width: 100%;
  cursor: pointer;
}
.products-container-item-img{
  width: 100%;
  border-radius: 10px;
}
.products-container-item-heart{
  position: absolute;
  top: 16px;
  left: 16px;
}
.products-container-item__info{
  padding: 0 8px;
}
.product-name-box{
  height: 48px;
  margin: 16px 0 8px 0;
}
.product-name{
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  margin: 16px 0;
  color: var(--text-color);
  cursor: pointer;
  margin: 0;
  line-height: 2.4rem;
}
.product-review{
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  }
.product-review-img{
  width: 100px;
  margin-top: -1px;
  margin-right: 8px;
}
.product-review-number{
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 0;
}
.product-price{
  font-size: 2rem;
  font-weight: 500;
  margin: 18px 0 24px;
  text-align: center;
  color: var(--sub-text-color);
}
/* .products-container-row {
  --gap: 16px;
  --num-cols: 3;
  
  box-sizing: border-box;
  padding: var(--gap);
  
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  gap: var(--gap);
} */

/* .products-container-row > .grid-col-7-3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-col-7-3 {
  grid-column: span 1;
} */
  
@media screen and (max-width: 1000px) {
  .products-container-row {
    --num-cols: 2;
  }
}
@media screen and (max-width: 500px) {
  .products-container-row {
    --num-cols: 1;
  }
}
.btn_buy-now{
  width: 100%;
  margin-top: 24px;
  color: var(--white-color);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6rem;
  border: 1px solid var(--primary-color);
}
.btn_buy-now:hover{
    color: var(--primary-color);
    background-color: var(--white-color);
}
  /* Section 03 */
/* My account */


 
/* Shopping cart*/
.container{
  color: #000000;
  text-align: center;
}
.fa .fa-trash{
  vertical-align: right;
}
/* Cart items */
.quantity{
  display: flex;
  align-items: center;
  justify-content: center;
}
.quantity input{
  border: 1px solid #336E51;
  border-radius: 2px;
  padding: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  outline: none;
}
.col1 {
  padding: 0 32px;
}
.row1 .col1 li .li .quantity p{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-right: 8px;
  display: inline;
}
.row1 .col1 li .li .price{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.row1 .col1 li .li div{
  display: inline-block;
}
.row1 .col1 li{
  position: relative;
}
.row1 h1{
  margin-bottom: 32px;
  color: #000000;
}
.product{
  padding-bottom: 16px;
  border-bottom: 1px solid #336E51;
}
.li{
  display: flex;
  margin-top: 32px;
  position: relative;
}
.itemImg{
  margin-right: 24px;
}
.name{
  font-family: 'Montserrat',sans-serif; 
  font-size: 18px;
  margin: 0;
}
.size{
  font-family: 'Montserrat',sans-serif; 
  font-size: 15px;
  font-weight: 500;
}

.col1 .price{
  color: #336E51;
}
.icon{
  display: flex;
  justify-content: end;
}
.icon .fa-trash-alt{
  font-size: 18px;
  margin-right: 22px;
  color: #336E51;
}
/* .itemInfo h2{
  font-size: 16px;
  color: #000000;
} */
.itemList{
  width: 100%;
  height: 100%;
}
.product{
  text-align: left;
}
.col1 {
  text-align: left;
  padding-left: 5px;
  float: left;
  width: 50%;
}
.row1:after {
  content: "";
  display: table;
  clear: both;
}

.row2 .col2-right{
  text-align: right;
}
.row2 .col2-right p{
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--bl);
}
.col2 {
  /* text-align: center left;
  padding-left: 20px; */
  float: left;
  width: 50%;
}
.col2 p{
   font-size: 1.5rem;
   line-height: 1.5rem;
   font-weight: 400;
   color: var(--sub-text-color);
   padding: 12px 12px 12px 0;
}
.row2:after {
  content: "";
  display: table;
  clear: both;
}

/* Cart items */

/* Round checkbox */
.round {
  position: absolute;
  top: 10%;
  right: 0;
}
  
.object{
  text-align: right;
}

.round label {
  background-color: #fff;
  border: 1px solid #336E51;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  right: 16px;
  /* left: 0; */
  position: absolute;
  top: 0;
  width: 28px;
}
.product-icon{
  position: absolute;
  bottom: 0;
}
  
.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}
  
.round input[type="checkbox"] {
  visibility: hidden;
}
  
.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}
  
.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
/* Round Checkbox */
/* Payment Info*/
.payment{
  position: relative;
  background: #E6ECE9;
  border-radius: 10px;
  padding: 16px 30px 32px 30px;
}
input[type=text], input[type=password], select, textarea {
  width: 100%;
  font-size: 1.3rem;
  line-height: 1.3rem;
  padding: 8px 16px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  outline: none;
  resize: vertical;
}

form{
  margin-top: 12px;
}
label {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--sub-text-color);
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.container {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 16px;
}

.col-75 {
  padding-left: 30px;
  float: right;
  width: 75%;
  margin-top: 16px;
}

input[type=submit] {
  width: 100%;
  border: 1px solid var(--primary-color);
  outline: none;
  color: #FFF;
  border-radius: 50px;
  padding: 12px 16px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 500;
  cursor: pointer;
  /* box-shadow: inset 0 0 0 0 #FFF;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s; */
  /* transition: ease-out 0.4s; */
  background-color: var(--primary-color);
  cursor: pointer;
}
/* input[type=submit]:hover {
  color: var(--primary-color);
  box-shadow: inset 734px 0 0 0 #FFF;
} */
input[type=submit]:hover{
  background-color: rgba(51, 109, 81, 0.9);
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, .col1, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
/* Payment Info*/
/* Shopping cart*/
@media all and (max-width:1599px) {
  .mypageWrap .mypageCateArea {width:17.6%;min-width:166px;}
	.mypageWrap .mypageArea {width:77.7%;min-width:732px;}
	.mypageWrap {width:100%;min-width:1000px;}
	.mypageCateArea .lnbTop a {
    font-size:12px;line-height:38px;
  }
}

@media screen and (max-width: 1001px) {
  .mypageCateArea .lnbTop {
    width: 100%;
    height: auto;
    position: relative;
  }
  .mypageCateArea .lnbTop a {float: left;font-size: 10px;}
  div.mypageArea { margin-left: 0;}
  .section01, .row{
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .mypageCateArea .lnbTop a {
    text-align: center;
    float: none;
    font-size: 8px;
  }
  .section01, .row{
    width: 100%;
  }
}