<link rel="stylesheet" href="/css/aboutUs/base.css">
<link rel="stylesheet" href="/css/aboutUs/style.css">
<link rel="stylesheet" href="/css/aboutUs/responsive.css">
<div class="about-us">
    <div class="grid">
        <div class="grid-row">
            <div class="about-us__header">
                <h2 class="about-us__heading">About Us</h2>
            </div>
        </div>
        <div class="grid-row">
            <div class="about-us-info">
                <div class="about-us-pic">
                    <img src="/img/aboutUs/abtus-img-1.png" alt="About Us" class="about-us-pic__img">
                </div>
                <div class="about-us-info__detail">
                    <h3 class="about-us-info__heading">
                        Herbivore believes in the power of nature to bring tangible results you can see and feel.
                    </h3>
                    <p class="about-us-info__discription">
                        We bring you products that are safe, truly natural and highly effective. All of our formulas are
                        original, created and tested by us, on real people — never on animals and always from scratch.
                        All of our products have an emphasis on natural, high-quality ingredients. We package in glass
                        and paper, using recycled & recyclable plastic only when necessary. We are always free of
                        synthetic ingredients, including dyes, fragrances, and parabens. By formulating without
                        synthetic ingredients, we strive to create products to be as biocompatible as possible.
                    </p>
                </div>
            </div>
            <div class="about-us-info">
                <div class="about-us-info__detail">
                    <h3 class="about-us-info__heading">
                        We make our products, ingredients, and packaging as gentle on the planet as they are on our
                        bodies.
                    </h3>
                    <p class="about-us-info__discription">
                        Knowing that everything we put on our skin quickly absorbs into our bodies, we ethically source
                        the finest raw natural materials the earth has to offer. With ingredients ranging from French
                        pink clay to Brazilian gemstones, we formulate treatments that combine essential vitamins,
                        minerals, and botanicals to restore skin to its optimum health and vitality.
                    </p>
                </div>
                <div class="about-us-pic">
                    <img src="/img/aboutUs/abtus-img-2.png" alt="About Us" class="about-us-pic__img">
                </div>
            </div>
        </div>
        <div class="grid-row">
            <div class="about-us-info__addition">
                <p class="about-us-info__addition-info">
                    In addition to creating products that give you noticeable results, we also create our products with
                    personal rejuvenation and a little indulgence in mind. We believe that daily bathing and skincare
                    rituals should be enjoyable — a way to carve out some much-needed downtime in your hectic routine.
                    From thoughtfully designed packaging and labels that really allow our ingredients to shine through,
                    to intoxicating scents and luxurious textures, we truly want you to love your skincare and bathing
                    routines.
                </p>
            </div>
        </div>

        <div class="grid-row">
            <div class="about-us-info__ingredients">
                <table class="about-us-info__ingredients-create-with">
                    <tr class="about-us-info__ingredients-create-with-heading">
                        <th>Created with</th>
                        <th>Create without</th>
                    </tr>
                    <tr class="about-us-info__ingredients-create-with-discpt">
                        <td>Natural ingredients, plant-based food-grade cold-pressed oils, steam distilled
                            therapeutic-grade essential oils, GMO free soy wax, recyclable and reusable packaging, many
                            certified organic ingredients.</td>
                        <td>Synthetic ingredients, parabens, sodium laurel sulfate, phthalates, chemicals, fillers,
                            animal testing, mineral oils, petroleum</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>