<script src="/js/detailProduct/script.js"></script>
<link rel="stylesheet" href="/css/detailProduct/style.css">
<link rel="stylesheet" href="/css/detailProduct/responsive.css">
<!-- thanh anchor top  -->
<div id="container-anchor-top">
    <a href="#top-page" id="anchor-top">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-circle-up"
            class="svg-inline--fa fa-arrow-circle-up fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512">
            <path fill="currentColor"
                d="M8 256C8 119 119 8 256 8s248 111 248 248-111 248-248 248S8 393 8 256zm143.6 28.9l72.4-75.5V392c0 13.3 10.7 24 24 24h16c13.3 0 24-10.7 24-24V209.4l72.4 75.5c9.3 9.7 24.8 9.9 34.3.4l10.9-11c9.4-9.4 9.4-24.6 0-33.9L273 107.7c-9.4-9.4-24.6-9.4-33.9 0L106.3 240.4c-9.4 9.4-9.4 24.6 0 33.9l10.9 11c9.6 9.5 25.1 9.3 34.4-.4z">
            </path>
        </svg>
    </a>
</div>
<div class="dp-grid-slide" id="top-page">
    <div id="layout-grid-left-detail-product">
        <div id="dp-img-slide">
            <div>
                <img src="../img/imgdemo1.png" alt="" class="item-left-img-product">
            </div>
            <div>
                <img src="../img/imgdemo2.png" alt="" class="item-left-img-product">
            </div>
            <div>
                <img src="../img/imgdemo3.png" alt="" class="item-left-img-product">
            </div>
            <div>
                <img src="../img/imgdemo4.png" alt="" class="item-left-img-product">
            </div>
        </div>
        <div class="dp-imgShow">
            <img src="../img/imgdemo1.png" alt="" id="item-show-img-product">
        </div>
    </div>
    <div class="dp-grid-right-info">
        <div>
            <p class="dp-titleProduct">Bakuciol Retinol Alternative</p>
            <p id="detail-header-information-header-product">Smoothing Serum</p>
            <p id="detail-information-header-product">Bakuchiol Serum is a naturally derived retinol-alternative
                serum to help
                smooth the appearance of fine lines and wrinkles while sealing in
                hydration. Bakuchiol, the key ingredient, is sourced sustainably from the
                Ayurvedic Babchi plant.</p>
            <p class="dp-price">$50.00</p>
        </div>
        <div class="dp-star-reviews">
            <div>
                <img src="../img/star.png" alt="" class="icon-star">
                <img src="../img/star.png" alt="" class="icon-star">
                <img src="../img/star.png" alt="" class="icon-star">
                <img src="../img/star.png" alt="" class="icon-star">
                <img src="../img/star.png" alt="" class="icon-star">
            </div>
            <div>
                <p>102 Reviews</p>
            </div>
        </div>
        <div class="dp-numberProduct">
            <table>
                <tr>
                    <td>
                        <p>Quantity</p>
                    </td>
                    <td>
                        <button id="button-minus-number-product">-</button>
                    </td>
                    <td>
                        <p id="number-product">1</p>
                    </td>
                    <td>
                        <button id="button-add-number-product">+</button>
                    </td>
                </tr>
            </table>
        </div>
        <div id="dp-btn-product">
            <div>
                <button id="dp-addtocart">ADD TO CART</button>
            </div>
            <div>
                <button id="dp-buynow">BUY NOW</button>
            </div>
        </div>
    </div>
</div>
<!-- detail product -->
<div>
    <!-- header -->
    <div id="dp-grid-detailProducts">
        <div class="dp-grid-detailProducts-item">
            <div class="grid-container-information-detail-product">
                <div>
                    <p>DETAIL</p>
                </div>
                <div class="div-img-information-detail-product">
                    <img class="icon-star img-information-detail-product" src="../img/arrowright.png" alt="">
                </div>
            </div>
            <div class="information-detail-product">
                <p>detail information</p>
            </div>
        </div>
        <div class="dp-grid-detailProducts-item">
            <div class="grid-container-information-detail-product">
                <div>
                    <p>INGREDIENTS</p>
                </div>
                <div class="div-img-information-detail-product">
                    <img class="icon-star img-information-detail-product" src="../img/arrowright.png" alt="">
                </div>
            </div>
            <div class="information-detail-product">
                <p>detail information</p>
            </div>
        </div>
        <div class="dp-grid-detailProducts-item">
            <div class="grid-container-information-detail-product">
                <div>
                    <p>HOW TO USE</p>
                </div>
                <div class="div-img-information-detail-product">
                    <img class="icon-star img-information-detail-product" src="../img/arrowright.png" alt="">
                </div>
            </div>
            <div class="information-detail-product">
                <p>detail information</p>
            </div>
        </div>
    </div>
    <div id="dp-info-detailProduct">
        <div style="padding: 10px;">
            <p>Suitable for: Bakuchiol Serum is suitable for all skin, including sensitive types. </p>
            <p>Target concerns: </p>
            <p>+ Dullness/Uneven skin texture</p>
            <p>+ Fine lines/Wrinkles </p>
            <p>+ Dryness </p>
            <p>Gentle enough for the most sensitive skin types, Bakuchiol works with the skin to refine the
                appearance of fine lines and wrinkles with the power of natural botanicals.</p>
        </div>
        <div class="dp-morethan-detailProduct">
            <a href="">More than ...</a>
            <pre>
                    Target concerns: 
                    + Dullness/Uneven skin texture 
                    + Fine lines/Wrinkles 
                    + Dryness 
                </pre>
        </div>
    </div>
</div>
<!-- related products -->
<div>
    <div class="dp-table-relatedProducts">
        <table>
            <tr>
                <td>
                    <hr>
                </td>
                <td>Related Products</td>
                <td>
                    <hr>
                </td>
            </tr>
        </table>
    </div>
    <!-- related products -->
    <div class="dp-container-slide-relatedProducts">
        <div class="db-btn-slide-relatedProducts">
            <img class="db-btn-slide-relatedProducts left" src="../img/arrowleft.png" alt="">
        </div>
        <div class="dp-grid-slide-relatedProducts">
            <div class="dp-container-products">
                <div class="dp-img-relatedProducts">
                    <div class="dp-img-products">
                        <img class="dp-img-products img" src="../img/imgdemo1.png" alt="">
                        <div>
                            <img class="icon dp-img-products favor" src="../img/icon-favor.png" alt="">
                        </div>
                    </div>
                </div>
                <div style="text-align: center;" class="dp-container-info-product">
                    <p class="dp-container-info-product-name">Phoenix Rosehip Anti-Aging
                        Face Oil - For Dry Skin</p>
                    <div>
                        <span>
                            <img class="icon-star" src="../img/star.png" alt="">
                        </span>
                        <span>
                            <img class="icon-star" src="../img/star.png" alt="">
                        </span>
                        <span>
                            <img class="icon-star" src="../img/star.png" alt="">
                        </span>
                        <span>
                            <img class="icon-star" src="../img/star.png" alt="">
                        </span>
                        <span>
                            <img class="icon-star" src="../img/star.png" alt="">
                        </span>
                        <span class="dp-container-info-product-reviews">
                            102 Reviews
                        </span>
                    </div>
                    <div>
                        <p class="dp-container-info-product-price">$54.00</p>
                    </div>
                    <div>
                        <button class="dp-button-buynow-containerProducs">BUY NOW</button>
                    </div>
                </div>
            </div>
            <div class="dp-container-products">
                <div class="dp-img-relatedProducts">
                    <div class="dp-img-products">
                        <img class="dp-img-products img" src="../img/imgdemo1.png" alt="">
                        <div>
                            <img class="icon dp-img-products favor" src="../img/icon-favor.png" alt="">
                        </div>
                    </div>
                </div>
                <div style="text-align: center;" class="dp-container-info-product">
                    <p class="dp-container-info-product-name">Phoenix Rosehip Anti-Aging
                        Face Oil - For Dry Skin</p>
                    <div>
                        <span>
                            <img class="icon-star" src="../img/star.png" alt="">
                        </span>
                        <span>
                            <img class="icon-star" src="../img/star.png" alt="">
                        </span>
                        <span>
                            <img class="icon-star" src="../img/star.png" alt="">
                        </span>
                        <span>
                            <img class="icon-star" src="../img/star.png" alt="">
                        </span>
                        <span>
                            <img class="icon-star" src="../img/star.png" alt="">
                        </span>
                        <span class="dp-container-info-product-reviews">
                            102 Reviews
                        </span>
                    </div>
                    <div>
                        <p class="dp-container-info-product-price">$54.00</p>
                    </div>
                    <div>
                        <button class="dp-button-buynow-containerProducs">BUY NOW</button>
                    </div>
                </div>
            </div>
            <div class="dp-container-products">
                <div class="dp-img-relatedProducts">
                    <div class="dp-img-products">
                        <img class="dp-img-products img" src="../img/imgdemo1.png" alt="">
                        <div>
                            <img class="icon dp-img-products favor" src="../img/icon-favor.png" alt="">
                        </div>
                    </div>
                </div>
                <div style="text-align: center;" class="dp-container-info-product">
                    <p class="dp-container-info-product-name">Phoenix Rosehip Anti-Aging
                        Face Oil - For Dry Skin</p>
                    <div>
                        <span>
                            <img class="icon-star" src="../img/star.png" alt="">
                        </span>
                        <span>
                            <img class="icon-star" src="../img/star.png" alt="">
                        </span>
                        <span>
                            <img class="icon-star" src="../img/star.png" alt="">
                        </span>
                        <span>
                            <img class="icon-star" src="../img/star.png" alt="">
                        </span>
                        <span>
                            <img class="icon-star" src="../img/star.png" alt="">
                        </span>
                        <span class="dp-container-info-product-reviews">
                            102 Reviews
                        </span>
                    </div>
                    <div>
                        <p class="dp-container-info-product-price">$54.00</p>
                    </div>
                    <div>
                        <button class="dp-button-buynow-containerProducs">BUY NOW</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="db-btn-slide-relatedProducts">
            <img class="db-btn-slide-relatedProducts right" src="../img/arrowright.png" alt="">
        </div>
    </div>
</div>
<!-- end related products -->

<!-- products reviews // comment-->
<div class="dp-container-cmt">
    <div style="background-color: #bad3c7;">
        <!-- collect rating bar -->
        <div class="dp-container-ratingbar">
            <div
                style="border: rgb(168, 164, 164) 1px solid;margin: 20px 0 10px 0;text-align: center;position: relative;">
                <div style="position: absolute;top: 20%;left: 5%;right: 5%;">
                    <div>
                        <p style="margin: 5px 0 5px 0;font-size: 1.5vmax;">4.8</p>
                    </div>
                    <div>
                        <img class="icon-star" src="../img/star.png" alt="">
                        <img class="icon-star" src="../img/star.png" alt="">
                        <img class="icon-star" src="../img/star.png" alt="">
                        <img class="icon-star" src="../img/star.png" alt="">
                        <img class="icon-star" src="../img/star.png" alt="">
                    </div>
                    <div>
                        <p style="margin: 5px 0 5px 0;font-size: 1.5vmax;">132 reviews</p>
                    </div>
                </div>
            </div>
            <div style="border: rgb(168, 164, 164) 1px solid;margin: 20px 0 10px 0;">
                <div class="dp-container-number-of-comment-1star">
                    <div class="dp-category-comment-1star">
                        <span class="dp-category-comment-1star-number">5</span>
                        <img class="icon-star" src="../img/star.png" alt="">
                    </div>
                    <div class="dp-number-reviews-1star">
                        <p class="dp-number-reviews-1star total-border">b</p>
                        <p class="dp-number-reviews-1star border-star star5" title="12 reviews">b</p>
                    </div>
                </div>
                <div class="dp-container-number-of-comment-1star">
                    <div class="dp-category-comment-1star">
                        <span class="dp-category-comment-1star-number">4</span>
                        <img class="icon-star" src="../img/star.png" alt="">
                    </div>
                    <div class="dp-number-reviews-1star">
                        <p class="dp-number-reviews-1star total-border">b</p>
                        <p class="dp-number-reviews-1star border-star star4" title="12 reviews">b</p>
                    </div>
                </div>
                <div class="dp-container-number-of-comment-1star">
                    <div class="dp-category-comment-1star">
                        <span class="dp-category-comment-1star-number">3</span>
                        <img class="icon-star" src="../img/star.png" alt="">
                    </div>
                    <div class="dp-number-reviews-1star">
                        <p class="dp-number-reviews-1star total-border">b</p>
                        <p class="dp-number-reviews-1star border-star star3" title="12 reviews">b</p>
                    </div>
                </div>
                <div class="dp-container-number-of-comment-1star">
                    <div class="dp-category-comment-1star">
                        <span class="dp-category-comment-1star-number">2</span>
                        <img class="icon-star" src="../img/star.png" alt="">
                    </div>
                    <div class="dp-number-reviews-1star">
                        <p class="dp-number-reviews-1star total-border">b</p>
                        <p class="dp-number-reviews-1star border-star star2" title="12 reviews">b</p>
                    </div>
                </div>
                <div class="dp-container-number-of-comment-1star">
                    <div class="dp-category-comment-1star">
                        <span class="dp-category-comment-1star-number">1</span>
                        <img class="icon-star" src="../img/star.png" alt="">
                    </div>
                    <div class="dp-number-reviews-1star">
                        <p class="dp-number-reviews-1star total-border">b</p>
                        <p class="dp-number-reviews-1star border-star star1" title="12 reviews">b</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- comment -->
        <div>
            <div class="dp-container-comments">
                <div class="dp-container-comments container">
                    <div class="dp-comment-img">
                        <img src="../img/avatar.png" alt="">
                    </div>
                    <div class="dp-comment-info">
                        <p class="dp-comment-info name-client">BaekHuyn</p>
                        <div>
                            <img class="icon-star" src="../img/star.png" alt="">
                            <img class="icon-star" src="../img/star.png" alt="">
                            <img class="icon-star" src="../img/star.png" alt="">
                            <img class="icon-star" src="../img/star.png" alt="">
                            <img class="icon-star" src="../img/star.png" alt="">
                        </div>
                        <p class="dp-comment-info reviews">Love the serum</p>
                        <p class="dp-comment-info comment">
                            Have heard about bakuchiol for a while, finally purchased this at a great beauty
                            shop,
                            Joia,
                            in Northampton, MA. Love! Smoothing similar to retinol without the
                            tingling/irritation.
                        </p>
                    </div>
                </div>
                <hr class="dp-container-comments hr">
            </div>
            <div class="dp-container-comments">
                <div class="dp-container-comments container">
                    <div class="dp-comment-img">
                        <img src="../img/avatar.png" alt="">
                    </div>
                    <div class="dp-comment-info">
                        <p class="dp-comment-info name-client">BaekHuyn</p>
                        <div>
                            <img class="icon-star" src="../img/star.png" alt="">
                            <img class="icon-star" src="../img/star.png" alt="">
                            <img class="icon-star" src="../img/star.png" alt="">
                            <img class="icon-star" src="../img/star.png" alt="">
                            <img class="icon-star" src="../img/star.png" alt="">
                        </div>
                        <p class="dp-comment-info reviews">Love the serum</p>
                        <p class="dp-comment-info comment">
                            Have heard about bakuchiol for a while, finally purchased this at a great beauty
                            shop,
                            Joia,
                            in Northampton, MA. Love! Smoothing similar to retinol without the
                            tingling/irritation.
                        </p>
                    </div>
                </div>
                <hr class="dp-container-comments hr">
            </div>
        </div>
        <!-- số trang -->
        <div id="container-number-page">
            <span>
                <svg class="icon-arrow-number-page left" aria-hidden="true" focusable="false" data-prefix="fas"
                    data-icon="arrow-left" class="svg-inline--fa fa-arrow-left fa-w-14" role="img"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="currentColor"
                        d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z">
                    </path>
                </svg>
            </span>
            <span class="item-number-page active">1</span>
            <span class="item-number-page">2</span>
            <span class="item-number-page">3</span>
            <span class="item-number-page">...</span>
            <span>
                <svg class="icon-arrow-number-page right" aria-hidden="true" focusable="false" data-prefix="fas"
                    data-icon="arrow-right" class="svg-inline--fa fa-arrow-right fa-w-14" role="img"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="currentColor"
                        d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z">
                    </path>
                </svg>
            </span>
        </div>
    </div>
</div>
<!-- end comment -->