<link rel="stylesheet" href="/css/purchase/base.css">
<link rel="stylesheet" href="/css/purchase/style.css">
<link rel="stylesheet" href="/css/purchase/responsive.css">
<script src="js/purchase/index.js"></script>
<div class="grid">
    <div class="grid-row">
        <div class="purchase-header">
            <h2 class="purchase__heading">Purchase</h2>
        </div>
    </div>
</div>
<div class="grid">
    <div class="grid-row body-responsive">
        <div class="grid-col-3 menu-responsive">
            <nav class="purchase-menu">
                <ul class="purchase-menu__list">
                    <a href="#voucher" class="purchase-menu__link" >
                        <li class="purchase-menu__item">
                            Special vouchers
                            <i class="purchase-menu__icon fas fa-tag"></i>
                        </li>
                    </a>
                    <a href="#process" class="purchase-menu__link" >
                        <li class="purchase-menu__item">
                            Purchasing process
                            <i class="purchase-menu__icon fas fa-shopping-cart"></i>
                        </li>
                    </a>
                    <a href="#shipping" class="purchase-menu__link" >
                        <li class="purchase-menu__item">
                            Shipping Services
                            <i class="purchase-menu__icon fas fa-truck" ></i>
                        </li>
                    </a>
                    <a href="#payment" class="purchase-menu__link" >
                        <li class="purchase-menu__item">
                            Payment Methods
                            <i class="purchase-menu__icon fas fa-credit-card"></i>
                        </li>
                    </a>
                </ul>
            </nav>
        </div>
        <div class="grid-col-7 info-responsive">
            <div class="purchase-info">
                <div id="voucher" class="purchase-info__voucher">
                    <h4 class="purchase-info__heading" >Special vouchers</h4>
                    <div class="purchase-info__voucher-Promo">
                        <h5 class="purchase-info__title">Enter promo code</h5>
                        <div class="purchase-info__voucher-Promo-search">
                            <input type="text" class="purchase-info__voucher-Promo-input"
                                placeholder="Please enter discount code">
                            <button class="purchase-info__voucher-Promo-btn">SEARCH</button>
                        </div>
                        <h5 class="purchase-info__title">Promo codes are available</h5>
                        <div class="purchase-info__table-info">
                            <table class="purchase-info__table">
                                <tr>
                                    <th>Classify </th>
                                    <th>Promo code</th>
                                    <th>Promo code name</th>
                                    <th>Preferential rate</th>
                                    <th>Expiration date </th>
                                    <th>Copy</th>
                                </tr>
                                <tr>
                                    <td>Shipping fee discount </td>
                                    <td>KB0110</td>
                                    <td>
                                        5$ off shipping fee for orders from 50$ <br> Applicable for minimum purchase of
                                        50$
                                    </td>
                                    <td>5.00$</td>
                                    <td>October 15, 2021</td>
                                    <td>
                                        <i class="purchase-info__Promo-table-icon fas fa-copy"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Shipping fee discount </td>
                                    <td>KB0110</td>
                                    <td>
                                        5$ off shipping fee for orders from 50$<br>
                                        Applicable for minimum purchase of 50$
                                    </td>
                                    <td>5.00$</td>
                                    <td>October 15, 2021</td>
                                    <td>
                                        <i class="purchase-info__Promo-table-icon fas fa-copy"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Shipping fee discount </td>
                                    <td>KB0110</td>
                                    <td>
                                        5$ off shipping fee for orders from 50$<br>
                                        Applicable for minimum purchase of 50$
                                    </td>
                                    <td>5.00$</td>
                                    <td>October 15, 2021</td>
                                    <td>
                                        <i class="purchase-info__Promo-table-icon fas fa-copy"></i>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div id="process" class="purchase-info__process">
                    <h4 class="purchase-info__heading" >Purchasing process</h4>
                    <div class="purchase-info__process-detail">
                        <h5 class="purchase-info__title">To order, please follow the steps below: </h5>
                        <ul class="purchase-info__process-list">
                            <li class="purchase-info__process-item">
                                <div class="purchase-info__process-item-circle">
                                    <div class="icon">
                                        <i class="purchase-info__process-item-circle-icon fas fa-user"></i>
                                    </div>
                                    <div class="purchase-info__process-item-arrow">
                                    </div>
                                </div>
                                <span class="purchase-info__process-item-info">
                                    Sign in with your account
                                </span>
                            </li>
                            <li class="purchase-info__process-item">
                                <div class="purchase-info__process-item-circle">
                                    <div class="icon">
                                        <i class="purchase-info__process-item-circle-icon fas fa-shopping-cart"></i>
                                    </div>
                                    <div class="purchase-info__process-item-arrow">
                                    </div>
                                </div>
                                <span class="purchase-info__process-item-info">
                                    Select products to cart
                                </span>
                            </li>
                            <li class="purchase-info__process-item">
                                <div class="purchase-info__process-item-circle">
                                    <div class="icon">
                                        <i class="purchase-info__process-item-circle-icon fas fa-tag"></i>
                                    </div>
                                    <div class="purchase-info__process-item-arrow">
                                    </div>
                                </div>
                                <span class="purchase-info__process-item-info">
                                    Enter promo code (if any)
                                </span>
                            </li>
                            <li class="purchase-info__process-item">
                                <div class="purchase-info__process-item-circle">
                                    <div class="icon">
                                        <i class="purchase-info__process-item-circle-icon fas fa-credit-card"></i>
                                    </div>
                                    <div class="purchase-info__process-item-arrow">
                                    </div>
                                </div>
                                <span class="purchase-info__process-item-info">
                                    Choose a method of payment and delivery
                                </span>
                            </li>
                            <li class="purchase-info__process-item">
                                <div class="purchase-info__process-item-circle">
                                    <div class="icon">
                                        <i class="purchase-info__process-item-circle-icon fas fa-clipboard-check"></i>
                                    </div>
                                    <div class="purchase-info__process-item-arrow">
                                    </div>
                                </div>
                                <span class="purchase-info__process-item-info">
                                    Make payment and order successfully
                                </span>
                            </li>
                            <li class="purchase-info__process-item">
                                <div class="purchase-info__process-item-circle">
                                    <div class="icon">
                                        <i class="purchase-info__process-item-circle-icon fas fa-truck"></i>
                                    </div>
                                </div>
                                <span class="purchase-info__process-item-info">
                                    Details and order status will be updated on the website and sent via email to
                                    registered customers
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="shipping" class="purchase-info__shipping">
                    <h4 class="purchase-info__heading">Shipping Services</h4>
                    <div class="purchase-info__shipping-detail">
                        <h5 class="purchase-info__title">The order will be delivered to you from 1-7 days (excluding
                            Saturday, Sunday and public holidays), from the date of order confirmation. </h5>
                        <h5 class="purchase-info__title">Please refer to the shipping fee and estimated delivery time
                            below </h5>
                        <div class="purchase-info__table-info">
                            <table class="purchase-info__table">
                                <tr>
                                    <th>Area</th>
                                    <th colspan="2">Delivery charges</th>
                                    <th>Delivery time</th>
                                </tr>
                                <tr>
                                    <td rowspan="2">Ho Chi Minh City</td>
                                    <td>Urban Ho Chi Minh City</td>
                                    <td>3.00$</td>
                                    <td rowspan="2">From 3-5 days</td>
                                </tr>
                                <tr>
                                    <td>Suburban Ho Chi Minh City</td>
                                    <td>4.00$</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Ha Noi</td>
                                    <td>Urban Ha Noi</td>
                                    <td>3.00$</td>
                                    <td rowspan="2">From 3-5 days</td>
                                </tr>
                                <tr>
                                    <td>Suburban Ha Noi</td>
                                    <td>4.00$</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">The southern area</td>
                                    <td>Urban</td>
                                    <td>5.00$</td>
                                    <td rowspan="2">From 5-7 days </td>
                                </tr>
                                <tr>
                                    <td>Suburban</td>
                                    <td>8.00$</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">The Northern area </td>
                                    <td>Urban</td>
                                    <td>5.00$</td>
                                    <td rowspan="2">From 5-7 days </td>
                                </tr>
                                <tr>
                                    <td>Suburban</td>
                                    <td>8.00$</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>

                <div id="payment" class="purchase-info__payment">
                    <h4 class="purchase-info__heading">Payment Methods</h4>
                    <div class="purchase-info__payment-detail">
                        <h5 class="purchase-info__title">Keem's Beauty supports the following payment methods:</h5>
                        <ul class="purchase-info__payment-list">
                            <li class="purchase-info__payment-item">
                                <i class="purchase-info__payment-item-icon fas fa-check"></i>
                                <span class="purchase-info__payment-item-info">Payment on delivery (COD).</span>
                            </li>
                            <li class="purchase-info__payment-item">
                                <i class="purchase-info__payment-item-icon fas fa-check"></i>
                                <span class="purchase-info__payment-item-info">Payment by domestic ATM card.</span>
                            </li>
                            <li class="purchase-info__payment-item">
                                <i class="purchase-info__payment-item-icon fas fa-check"></i>
                                <span class="purchase-info__payment-item-info">Payment by credit/debit card.
                                </span>
                            </li>
                            <li class="purchase-info__payment-item">
                                <i class="purchase-info__payment-item-icon fas fa-check"></i>
                                <span class="purchase-info__payment-item-info">Pay by e-wallet MoMo, SmartBaking...
                                </span>
                            </li>
                            <li class="purchase-info__payment-item">
                                <i class="purchase-info__payment-item-icon fas fa-check"></i>
                                <span class="purchase-info__payment-item-info">Pay with QR code</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>