<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Innisfree</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/animation.css">
    <link rel="stylesheet" href="/css/loading.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/logo-app.png">
    <link rel="icon" href="https://media.geeksforgeeks.org/wp-content/cdn-uploads/gfg_200X200.png" type="image/x-icon">
    <style>
        .icon-star {
            width: 3vmin;
            height: 3vmin;
        }

        body {
            margin: 0;
            padding: 0;
        }

        html {
            scroll-behavior: smooth;
        }
    </style>
    {{!-- import Jquery --}}
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Satisfy&display=swap"
        rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link href="/fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet">
    <script type="module" src="/js/main.js"></script>
</head>

<body>
    <!-- thanh anchor top  -->
    <div id="container-anchor-top">
        <a href="#top-page-container" id="anchor-top">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-circle-up"
                class="svg-inline--fa fa-arrow-circle-up fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512">
                <path fill="currentColor"
                    d="M8 256C8 119 119 8 256 8s248 111 248 248-111 248-248 248S8 393 8 256zm143.6 28.9l72.4-75.5V392c0 13.3 10.7 24 24 24h16c13.3 0 24-10.7 24-24V209.4l72.4 75.5c9.3 9.7 24.8 9.9 34.3.4l10.9-11c9.4-9.4 9.4-24.6 0-33.9L273 107.7c-9.4-9.4-24.6-9.4-33.9 0L106.3 240.4c-9.4 9.4-9.4 24.6 0 33.9l10.9 11c9.6 9.5 25.1 9.3 34.4-.4z">
                </path>
            </svg>
        </a>
    </div>
    <div id="top-page-container"></div>
    {{!-- loading --}}
    <div id="container-loading">
        <div class="container-icon-logo-loading">
            <div class="lds-default">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <img src="../img/icon-logo.png" alt="" class="icon-logo-page">
            </div>
        </div>
    </div>

    {{> header}}

    {{{body}}}
</body>


{{> footer}}


</html>